# Python venv and cache
venv/
__pycache__/
*.pyc

# Editor swap files
*.swp
*.swo

# Logs
!logs/*.log
!logs/entries/**/*.jpg
!logs/entries/**/*.jpeg
!logs/entries/**/*.png

# Optional - ignore DB only if it's large or you prefer to regenerate
# database/faces.db
models/**/buffalo_l.zip
models/**/w600k_r50.onnx
models/**/1k3d68.onnx
models/models/
models/insightface/models/
