# Large model & data files
models/**/*.onnx
models/**/*.zip
models/**/*.pt
models/yolov8n-face.pt

# Logs and images
logs/**/*.log
logs/**/*.jpg
logs/**/*.jpeg
logs/**/*.avi

# Database and videos
database/faces.db
videoDatasets/*.mp4

# Python junk
__pycache__/
*.pyc
*.swp
*.swo

# Virtual environment
venv/

